/* "Nosotros" or "AboutUs"*/


article.about-us__article>p,
div.combo-container__div>p,
article.about-us__article>img
{
   margin-top : 2rem;
   display: inline-block;
   font-size : 1.6rem;
}



div.combo-container__div>img
{
   height : 90%;
}


article.about-us__article>p
{
   font-size : 1.6rem;
   text-align : justify;
}

article.about-us__article>p:nth-child(1)
{
   display: block;

   text-align : justify;
}

div.combo-container__div>p
{
   width  : 43%;
   height : max-content;
}

article.about-us__article>p:nth-child(2)
{
   margin-top   : 1rem;
   margin-right : 25.2rem;
}

div.combo-container__div:nth-child(3)>p
{
   margin-top : 0;
   text-align : right;
}

div.combo-container__div
{
   display : flex;
   width   : 100%;
   height  : 630px;
   margin-top : 8rem;
   justify-content : space-between;
}

article.about-us__article
{
   margin : auto;
   padding : 2rem 5.3rem;
}
