@import url("library.css");

html { overflow: clip; }

body
{
   height : 100vh;
   min-height : unset;
   background-color: transparent;
}

.layout-container__main
{
   width : 98vw;
   height : 100%;
   min-height : unset;
   box-sizing : border-box;
   display: inline-block;
   position : relative;
   padding : 0 2vw;
   overflow : hidden;
   contain : paint;

   & .logo-container__button
   {
      width : calc(1045px * 0.23);
      height : 56px;
      position : absolute;
      top : calc(2% + 1rem);
      left :calc(2% + 1rem);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-image: url("../static/logo.png");
      outline: none;
      border: none;
      box-shadow: none;
      z-index: 20;
      cursor: pointer;
   }
}


.chat-top__div
{
   width : 17%;
   min-width : 299.8px;

/**   max-height : 7vh;*/
   height : max-content;
   padding : 2vh 1rem;
   position : absolute;
   display : flex;
   flex-direction: column;
   border-radius : 0 20px 20px 0;

   transition : .7s ease-out;
   box-sizing : border-box;
   z-index: 40;
   box-shadow: 5px 4px 4px var(--shadow-black);
   background-color : var(--white);

   & .chat-title__h3
   {
      margin : 0 1rem 0 1rem;
      display: inline-block;
      font-size : 2rem;
      color : var(--deep-blue);
   }

   & .chat-profile__p
   {
      display: inline-block;
      width: 55px;
      height: 55px;
      margin: 0 1rem;
      padding: 0;
      color: var(--deep-blue);
      box-sizing: content-box;
      border-radius: 50%;
      background: linear-gradient(to bottom left, var(--dark-aqua) 48%, var(--white) 90%);
      font-size: 35px;
      font-weight: 700;
      text-align: center;
   }

   & #document-submitter
   {
      text-align : center;
      margin : auto auto 1rem auto;
      width : 90%;
      padding-top : 2vh;
      color : var(--grey);

      & button, input, p
      {
         font-family : "Poppins Bold";
         font-weight : 200;
      }

      & button, input
      {
         color : var(--deep-blue);
         padding : 0.62rem;
         margin : .55rem;
         outline : none;
         border : none;
         border-radius: 15px;
         font-size : 1.03rem;
         box-shadow :  1px 2px 2px var(--shadow-black);
      }

      & button:hover, input:hover
      {
         font-weight: 500;
      }

      & button:disabled, input:disabled
      {
         opacity: 0.3;
      }

      & button:active, input:active
      {
         box-shadow :  1px 2px 2px var(--almost-black);
      }


      & input[type="file"]
      {
         display: none;
      }

      & p
      {
         color : var(--almost-black);
      }

      & .file-icon__img
      {
         width : 3rem;
         height: 3rem;
         display : block;
         margin : 1rem auto;
      }
   }

   & .document-adder__button
   {
      display: inline-block;
      margin : 0.5rem auto;
   }

   & progress
   {
      display : block;
      margin: auto;
      width : 7vw;
      height : 1.45rem;
   }

   & .errata-list__ul
   {
      font-size : 0.85rem;
      color: var(--almost-black);
   }

   & .document-panel__button.closer
   {
      display : inline-block;
      height: auto;
      width: auto;
      padding : 0;
      font-size : 2.3rem;
      background-color : transparent;
      border : none;
      color : var(--dark-aqua);
      transition : 0.2s;
      position : absolute;
      right : calc(4% + 1vw);
   }
}


.chat-top__div[status="hidden"]
{
   top : 10%;
   left : -320px;
}

.chat-top__div[status="display"]
{
   top : 10%;
   left : 0%;
}

.chat-props__div
{
   display: flex;
}

.chat-configuration__div
{
   margin : 2rem 0;
   display : inline-block;
   z-index: 25;
}

.home-router__button
{
   display : inline-block;
   height: 8rem;
   width: 8rem;
   padding : 0;
   font-size : 4rem;
   background-color : transparent;
   border : none;
   color : var(--dark-aqua);
   transition : 0.2s;
}

.chat-body__div
{
   width: 100%;
   height: 100%;
   display : flex;
   flex-direction: column;
   position: relative;
   overflow: hidden;
}

.chat-bubble-jar__div
{
   margin : auto;
   margin-top : 2vh;
   width: 65%;
   height: 64vh;
   padding: 12vh 2.35rem;
   display: flex;
   flex-direction: column;
   flex-grow : 3;
   gap : 0.85rem;
   /**margin: 0 auto 1.6rem auto;*/
   color : var(--white);
   overflow-y: scroll;
   user-select: text;


   & .chat-bubble__p
   {
      max-width : 52rem;
      padding : 1.65rem 2.30rem;
      word-wrap: break-word;
      white-space: pre-line;
      font-size : 1.12rem;
   }

   & .chat-bubble__p[type="sender"]
   {
      align-self: flex-end;
      border-radius: 13px 13px 0 13px;
      background-color : var(--blue-prompt);
      box-shadow: -10px 7px 5px var(--bubble-shadow);
   }

   & .chat-bubble__p[type="receiver"]
   {
      align-self: flex-start;
      border-radius: 13px 13px 13px 0;
      background-color : var(--deep-grey);
      box-shadow: 10px 7px 5px var(--bubble-shadow);
   }
}

.chat-bubble-jar__div::-webkit-scrollbar
{
   border-radius: 3px;
   margin : 0.2rem 0;
   width : 0.45vw;
   background: transparent;
}

.chat-bubble-jar__div::-webkit-scrollbar-thumb
{
   border-radius: 3px;
   background: var(--grey);
   box-shadow : inset 2px 0 4px var(--shadow-black);
}


#chat-submitter
{
   margin: 1vh auto;
   width: 42%;
   min-width : 442px;
   /*height: max-content;*/
   flex-grow : 1;
   padding: 0 0.65rem;
   position: relative;
   box-sizing: border-box;
   text-align: center;
   z-index: 30;
   border-radius: 20px;
   box-shadow: 4px 7px 6px var(--shadow-black);
   background-color: var(--almost-black);

   & textarea
   {
      width: 100%;
      min-height: 1vh;
      resize : none;
      padding-top: 0.65rem;
      padding-right: calc(6rem + 1dvh);
      color : var(--white);
      box-sizing: border-box;
      font-family: "Poppins Bold";
      font-weight: 600;
      font-size: 1rem;
      outline: none;
      border: none;
      background-color: transparent;
   }

   & textarea::placeholder
   {
      color : var(--dark-aqua);
      font-family: "Poppins Regular";
      font-weight: 400;
   }

   & textarea::-webkit-scrollbar
   {
      opacity: 0;
   }

   & button
   {
      position: absolute;
   }

   & .panel-button
   {
      height: 2.25rem;
      width: 2.25rem;
      margin : auto 1vh;
      border-radius: 50%;
      border: none;
      position : absolute;
      top : 7.9%;
      font-weight: 600;
      font-family : "BuiltinSymbols";
      font-style : normal;
      font-size : 1.4rem;
      text-decoration : none;
      content: "\f072";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing : antialiased;
   }

   & .panel-button:hover:enabled
   {
      font-weight: 500;
      opacity : 0.9;
      cursor: pointer;
   }

   & .document-panel__button
   {
      right : calc(1% + 0.235rem);
      font-weight: 100;
   }

   & .chat-sender__button
   {
      right : calc(2% + 0.495rem + 1.95rem);
   }
}

li
{
   margin: 1rem;
}

.dot-group
{
   height: 2vh;
   display : inline-block;
   padding : 1rem 0;
}

.dot
{
   width: 22px;
   height: 22px;
   margin: 0 5px;
   display : inline-block;
   border-radius: 50%;
   background: var(--grey);
   animation : bounce 1s ease-in infinite;
}

.dot[delay="1"]
{
   animation-delay : 0.11s;
}

.dot[delay="2"]
{
   animation-delay : 0.2s;
}

.dot[delay="3"]
{
   animation-delay : 0.32s;
}


@keyframes bounce
{
   0%
   {
      transform : translateY( 0px );
   }
   45%
   {
      transform : translateY( 3.5px );
   }
   78%
   {
      transform : translateY( -4.1px );
   }
   100%
   {
      transform : translateY( 0.8px );
   }
}

progress
{
   display : block;
   margin: auto;
   width : 19vw;
   height : 3vh;
}

.status-prompt__p
{
   color : var(--almost-black);
   font-size : 1.2rem;
   margin : 1vw auto;
   text-align : center;
}

.status-prompt__p[status="empty"]
{
   color : transparent;
}

