p.generic-paragraph__p
{
   font-size : 3rem;
   margin : 3rem auto;
   text-align: center;
}


ul.contact-information__ul
{
   margin: 7rem auto;
   font-size : 2.4rem;
   text-decoration: none;
   list-style-type: none;
}

ul.contact-information__ul>li>i
{
   color : var(--aqua);
}

ul.contact-information__ul>li
{
   display: block;
   margin : 24px auto;
   font-size : 3.35rem;
}

form.enterprise-contact__form
{
   display : block;
   margin : 35px auto;
}

select.contact-type__select
{
   width : 74%;
   height : 5.8rem;
   padding : 3px 8px;
   display: block;
   margin : auto;
   font-size : 3rem;
   font-family: "Poppins Regular";
   border-radius : 10px;
   outline: none;
   border: none;
}

form.enterprise-contact__form>input,
form.enterprise-contact__form>textarea
{
   width : 73%;
   height : 5.4rem;
   display : block;
   margin  : 30px auto;
   padding : 3px 8px;
   font-family: "Poppins Regular";
   font-size : 3rem;
   border-radius : 10px;
   outline: none;
   border: none;
   resize: none;
}

form.enterprise-contact__form>textarea
{
   height: 17rem;
   padding : 10px 12px;
}

form.enterprise-contact__form>button[type="submit"]
{
   display:block;
   margin : auto;
}
