#activated-view
{
   display : block;
   margin: auto;
}

view-window 
{
   width : 100%;
   height : 100%;
   position : fixed;
   top : 0;
   margin: 0;
   padding: 0;
   display: none;
}


div.viwindow-container-background__div
{
   height : 100%;
   margin : auto;
   padding : 0;

   width  : 100%;
   background-color: rgba(1, 1, 1, 68%);
}

button.exit-viwindow__button
{
   font-size : 2.4rem;
   float : right;
}

div.viwindow-container-background__div>div.viwindow-controls__div
{
   width: 100%;
   height: 28%;
}

section.video-review__section>video.record-view__video,
section.video-review__section>textarea.record-view__textarea,
section.video-review__section>audio.record-view__audio
{
   display : none;
}

section.video-review__section>video.record-view__video
{
   border-radius: 45px;
}

textarea.record-view__textarea
{
   width : 65%;
   height : 40vh;
   margin : auto;
   resize: none;
   padding : 30px 35px;

   color : var(--default);
   background-color : var(--almost-black); 
   font-family: "Poppins-Medium";
   font-size  : 1.78rem;
   border-radius : 25px;
}

section.video-review__section
{
   width: 100%;
   height: 100%;
   margin: 35px auto auto;
   text-align: center;
}

video.record-view__video
{
   width  : 640px;
   height : 480px;
   border-radius:45px;
}