footer.generic-footer__footer
{
   margin:auto;
   margin-top: 2.7rem;

   padding-top:1.4rem;

   text-align:center;
}

footer.generic-footer__footer>q.mini-quote
{
   font-size : 2rem;
   display : inline;
}