/* Sign options */

section.call-to-action__section>div.sign-options__div
{
   width: 50%;
   height: 30rem;
   display: inline-flex;
   float: left;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

section.call-to-action__section>div.sign-forms__div
{
   width: 50%;
   height: 35.89rem;
   float : right;
   border-radius : 55px;
   position : relative;
   overflow : hidden;
}

/* Possible its own style*/
form.white-generic__form>input::placeholder,
div.sign-forms__div>form.sign-account__form>input::placeholder,
div.form-container__div>form.sign-account__form>input::placeholder
{
   position: absolute;
   left    : 0;
   top     : 1rem;
}

form.white-generic__form>input:focus::placeholder,
div.sign-forms__div>form.sign-account__form>input:focus::placeholder
{
   color : transparent;
}


form.white-generic__form>input,
div.form-container__div>form.sign-account__form>input
{
   border-bottom : 2px solid var(--deep-blue);
   text-align : left;
   border-radius : 0;
}


/* Open forms */
div.form-container__div
{
   width  : 500px;
   height : 100%;
   margin : auto;
   position : relative;
   overflow : hidden;
   border-radius    : 55px;
   background-color : var(--white);
}

div.form-container__div>form.sign-account__form>input
{
   background : none;
}

div.form-container__div>form.sign-account__form
{
   position : absolute;
   background : none;
}

div.form-container__div>form.sign-account__form:nth-child(1)
{
   top  : 0;
   left : 0;
}

div.form-container__div>form.sign-account__form#unselected-form:nth-child(1)
{
   top : -100%;
   transition : 3s;
}

div.form-container__div>form.sign-account__form#selected-form:nth-child(1)
{
   top : 0%;
   transition : 3s;
}

div.form-container__div>form.sign-account__form:nth-child(2)
{
   top  : 100%;
   left : 0;
}

div.form-container__div>form.sign-account__form#unselected-form:nth-child(2)
{
   top  : 100%;

   transition : 2.5s;
}

div.form-container__div>form.sign-account__form#selected-form:nth-child(2)
{
   top  : 0%;
   transition : 3.6s;
}

form.white-generic__form>a,
div.form-container__div>form.sign-account__form>a
{
   color : var(--deep-blue);
}

form.white-generic__form,
div.sign-forms__div>form.sign-account__form
{
   background: #EEE;
   position  : absolute;
   left      : 0;
   top       : 0;
}


div.sign-options__div>p
{
   margin        : auto;
   margin-bottom : 0;
   display : block;
   font-size : 2.2rem;
}


div.sign-options__div>p.sign-call__p>a
{
   color       : var(--default);
   font-family : "Poppins-Bold";
   cursor : pointer;
   text-decoration : underline;
}

div.sign-options__div>p.sign-call__p
{
   width     : 380px;
   max-width : 390px;

   margin-top : 0.5rem;
   font-size  : 1.2rem;

   text-align : center;
}

form>div.prompt
{
   margin : auto;
   /* Max is aroung 18rem*/
   max-width  : 18rem;
   color : var(--blue-prompt);
}

ul.sign-options__ul>li.sign-option__li::marker
{
   display:none;
   background-color: rgba(0,0,0,0);
}

li.sign-option__li>button.generic-white__button
{
   margin  : 9px 0 9px 0;
   width   : 480px;
}

ul.sign-options__ul>li.sign-option__li
{
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
   list-style-type: none;
}

ul.sign-options__ul
{
   margin : auto;
   margin-top    : 1.2rem;
   margin-bottom : 1rem;
   padding       : 0;
   text-align : center;
   user-select : none;
}


/* Generic white button */
button.generic-white__button
{
   width : max-content;
   margin  : 40px 0 38px 0;
   padding : 14px 20px;
   border        : none;
   border-radius : 35px;
   background-color : var(--white);
   color : var(--deep-blue);
   font-family : "Poppins-Medium";
   font-size   : 1.6rem;
   font-weight : 300;
   cursor : pointer;
}


/* Registration Form */
form.sign-account__form
{
   width  : 500px;
   height : max-content;
   margin : auto;
   min-height : 380px;
   padding-top    : 12rem;
   padding-bottom : 3rem;
   display : block;
   text-align: center;
   border-radius : 55px;
   background: linear-gradient(180deg, rgba(0, 32, 96, 1) 67%, rgb(26 65 75) 122%);
   font-family: "Poppins-Regular";
}

/* Padding adjustments
div.form-container__div>form.sign-account__form
{
   padding-top : 10rem;
   padding-bottom : 2.5rem;
}
*/

/* Sign up */
form.sign-account__form>p:nth-child(5)>a
{
   color       : var(--default);
   font-family : "Poppins-Bold";
   cursor : pointer;
}
form.sign-account__form>p:nth-child(5)
{
   width     : 385px;
   height    : 90px;
   max-width : 380px;
   margin : auto;
   font-family : "Poppins-Medium";
   font-size   : 1.4rem;
   font-weight : 400 ;
}

/* Forgot password? */
form.sign-account__form>a:nth-child(3)
{
   display     : block;
   color       : var(--aqua);
   font-family : "Poppins-Medium";
   font-size   : 1rem;
   text-decoration: underline;
   cursor : pointer;
}


form.sign-account__form>input
{
   width  : 332px;
   height : 25px;
   margin : auto;
   padding : 15px 15px 15px 15px;
   display : block;
   border-color : transparent;
   font-weight  : 100;
   font-family  : "Poppins-Medium";
   font-size    : 1.2rem;
}

form.sign-account__form>input::placeholder
{
   color       : var(--deep-blue);
   font-family : "Poppins-Regular";
   font-weight : 200;
   font-size   : 1.2rem;
}

form.sign-account__form>input.new-account-field__input:nth-child(1),
form.sign-account__form>input:nth-child(1)
{
   border-radius : 23px 23px 0 0;
   background    : var(--default);
}

form.sign-account__form>input.new-account-field__input:nth-child(2)
{
   border-radius : 0;
   margin-bottom : 0.2rem;
}

form.sign-account__form>input.new-account-field__input:nth-child(4)
{
   margin-top    : 3px;
   margin-bottom : 1rem;
   border-radius : 0 0 23px 23px;
   background : var(--default);
}

form.sign-account__form>input:nth-child(2)
{
   margin-top    : 3px;
   margin-bottom : 1rem;
   border-radius : 0 0 23px 23px;
   background : var(--default);
}

form.new-account__form
{
   margin: auto;
   margin-top: 1.3rem;

   padding-top: 2rem;

   text-align:center
}

form.new-account__form>input,
form.new-account__form>button
{
   margin:auto;
   margin-top: 1.2rem;

   padding-top: 7px;
   padding-bottom: 3px;

   display:block;

   border-radius: 5px 7px 4px 4px;
   font-family: "Poppins-Regular";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
   font-family : "Poppins-Regular";
   font-size   : 1rem;
}

/* Record options */

ul.record-types__ul
{
   margin : auto;

   margin-top  : 1.2rem;
   padding-top : 1rem;

   text-align : center;

   user-select : none;

   list-style-type : none;
}

ul.record-types__ul>li.record-type__li
{
   list-style-type : none;

   margin-top    : 1.1rem;
   margin-bottom : 1.1rem;
}

button.generic-blue__button
{
   padding : 9px 18px;
   margin  : 40px 0 38px 0;
   width : max-content;
   border        : none;
   border-radius : 55px;
   background-color : var(--aqua);
   color : var(--deep-blue);
   font-family : "Poppins-Medium";
   font-size   : 1.4rem;
   font-weight : 300;
   cursor : pointer;
}

button.generic-blue__button:hover
{
   background-color : var(--grey);
   color            : var(--white);
}
