@import url("library.css");
@layer animations;


@layer animations {

   @keyframes cycles {
      0% {
         transform: rotate(0rad);
      }

      45% {
         transform: rotate(3rad);
      }

      100% {
         transform: rotate3d(0rad);
      }
   }

   .globes-animation {
      position: absolute;

      & .globe-decoration__span {
         animation: 14s ease-in-out 0s infinite cycles;
      }
   }

   .globes-animation.left {
      left: -14%;
   }

   .globes-animation.right {
      right: 10%;
   }
}

*[display="hidden"] {
   display: none;
}

img.brand-logo__img {
   /*
 * Variables:
 * brand logo height
 * brand div margin top bottom
 * nav bar margin top bottom
 * */

   --normal-dimension-width: 1045px;
   --normal-dimension-height: 177px;

   --min-dimension-width: calc(881px/4);
   --min-dimension-height: calc(187px/4);

   margin: auto;
   margin-bottom: 0.7rem;

   min-width: var(--min-dimension-width);
   min-height: var(--min-dimension-height);

   width: 53.8rem;
   height: 9.28rem;

   display: block;

   /*Do not make the asumption that the parent could have user-select:none*/
   user-select: none;
}

q.welcome-quote__q {
   quotes: none;
   color: var(--aqua);

   font-family: "Poppins Medium";
   font-weight: 500;
   font-size: 3.8rem;
}

q.brand-quote__q>b {
   color: var(--default);
   font-weight: bold;
}

q.brand-quote__q {
   quotes: none;

   margin-top: 1rem;
   margin-bottom: 1.2rem;

   margin-left: 0px;
   margin-right: 0px;

   max-width: 1200px;

   display: inline-block;

   color: var(--aqua);
   font-size: 3rem;
}

q.generic-quote__q {
   quotes: none;

   margin: auto;

   margin-top: 4.5rem;
   margin-bottom: 4.5rem;

   max-width: 1200px;

   display: block;

   color: var(--aqua);
   text-align: center;
   font-family: "Poppins Bold";
   font-size: 2.7rem;
}

header.brand-band__header {
   height: 80vh;

   margin: auto;
   margin-left: 0;
   margin-right: 0;

   position: relative;

   padding-top: 1.4rem;
   padding-left: 0.2rem;
   padding-bottom: 0.52rem;

   align-content: center;
   text-align: center;

   user-select: none;
}

aside.home-left__aside,
aside.home-right__aside {
   height: 100%;
}

aside.home-left__aside {
   float: left;
   max-width: 48%;

   position: relative;

   color: var(--aqua);
   font-family: "Poppins Bold";
   /*   font-size   : 1.8rem;*/
   text-align: left;
}

aside.home-right__aside {
   float: right;
   max-width: 48%;
   padding-right: 40px;
   margin: auto;
   color: var(--default);
   font-family: "Poppins Regular";
   font-size: 2.2rem;
   text-align: right;
}


aside.home-left__aside>img:nth-child(1) {
   --original-width: 734px;
   --original-height: 463px;
   width: 41vw;
   height: 48vh;
}


aside.home-right__aside>p {
   max-width: 720px;
   box-sizing: border-box;
   font-size: 3.3vh;
}

aside.home-left__aside>p {
   max-width: 300px;
}

article.home__article {
   width: 100%;
   height: 95vh;

   margin: 1rem 0 1rem 0;
   padding: 0;
   text-align: right;
   user-select: none;
}

span.globe-decoration__span {
   --normal-width: 370px;
   --normal-height: 348px;
   width: 27.9rem;
   height: 26.35rem;

   display: inline-flex;
   position: absolute;
}

span.globe-decoration__span>img {
   flex: 1;
}

span.globe-decoration__span>p {

   /*height: 100%;*/
   margin: 0;
   width: 100%;
   top: 44%;
   position: absolute;
   text-align: center;
}

/* Recuerdos */
span.globe-decoration__span:nth-child(2) {
   --normal-width: 277px;
   --normal-height: 258px;

   width: 17rem;
   height: 15.99rem;
   top: 27%;
   left: 31%;
}

span.globe-decoration__span:nth-child(2)>p {
   font-size: 2rem;
}

/* Acompañamiento */
span.globe-decoration__span:nth-child(3) {
   --normal-width: 321px;
   --normal-height: 302px;
   width: 20.08rem;
   height: 18.87rem;
   top: 41%;
   left: 68%;
}

span.globe-decoration__span:nth-child(3)>p {
   font-size: 1.4rem;
}

/* Tecnologia */
span.globe-decoration__span:nth-child(4) {
   --spec-width: 370px;
   --spec-height: 348px;
   width: 23.19rem;
   height: 21.8rem;
   top: 57%;
   left: 20%;
}

span.globe-decoration__span:nth-child(4)>p {
   font-size: 2rem;
}


.call-to-action__section {
   margin: 0;
   margin-top: 13rem;

   height: 125vh;
   position: relative;
   overflow: clip;
}

.form-panel-tab {
   margin: auto;
   margin-bottom: 6.45rem;
   font-size: calc(2rem + 1vw);
   text-align: center;
   cursor: default;
   user-select: none;
}

.form-panel-title-tab {
   position: relative;
   cursor: pointer;
   user-select: inherit;
   pointer-events: inherit;
}

.form-panel-title-tab::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   left: 0;
   top: 55px;
   background-color: #34AC;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.35s ease-in-out;
}

.form-panel-title-tab:hover::after {
   transform: scaleX(1);
}

.form-panel-title-tab[status="selected"]::after {
   color: #CCC;
   transform: scaleX(1);
}

.form-panel-title-tab[status="selected"] {
   pointer-events: none;
}

.sign-options__div {
   display: block;
   flex-direction: row;
   margin: 2rem auto;
   text-align: center;
   float: unset;
}

.parent-wrapper {
   display: none;
}

.sign-options__ul {
   width: calc(42rem + 2vh);
   height: calc(50rem + 1vh);
   margin: auto;
   margin-top: 1.2rem;
   margin-bottom: 1rem;
   padding-bottom: 8rem;
   text-align: center;
   user-select: none;
   overflow: clip;

   & br {
      content:' ';
      display:block;
      height: 0.07rem;;
      margin : 2.1rem auto;
      width: 85%;
      line-height: 4;
      background: linear-gradient(90deg, var(--deep-grey) 2%, var(--almost-black) 75%);
      border-radius: 4px;
   }

   & .two-step-form {
      position: relative;

      & .generic-form:nth-child(2) {
         top: 0;
         right: -80%;
         position: absolute;
         z-index: 20;
      }

      & .generic-form:nth-child(1)[status="filled"] {
         transform: translate(-88%, 0);
         transition: transform 0.48s ease-in;
      }

      & .generic-form:nth-child(2)[status="focus"] {
         right: 1%;
         transition: 0.78s ease-out;
      }
   }
}

.sign-options__ul[status="disabled"] {
   user-select: none;
}

.sign-options__ul[status="disabled"] {
   user-select: none;
   pointer-events: none;

   & input,
   button {
      opacity: 0.78;
      user-select: inherit;
   }
}

.generic-form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   min-width: max-content;
   width: 100%;
   align-items: center;

   font-family: "Poppins Regular", monospace;
   font-size: 1.2rem;

   & input,
   q {
      display: inline-block;
      margin: auto;
      font-style: unset;
      font-size: inherit;
      font-family: inherit;
      pointer-events: inherit;
      user-select: inherit;
   }

   & input {
      width: calc(1vw + 18.2rem);
      min-width: calc(1vw + 1.2rem);
      padding: 0.85rem 0.95rem;
      margin-top: 1.2rem;
      border: none;
      border-radius: 26px;
   }

   & button {
      display: inline-block;
      pointer-events: inherit;
   }

   & q {
      min-height: 1.4rem;
   }

   input:hover + q,
   input:focus + q
   {
      text-shadow: -4px 2px 8px #011A, #8AB 0 2px;
      transform: translate(0, -1%);
      transition: transform 0.25s ease-in;
   }

   & input:hover,
   .generic-white__button:hover,
   input:focus {
      outline: none;
      box-shadow: 7px 4px 8px #1116, #8AB 0 4px;
      transform: translate(0, -2%);
      transition: transform 0.25s ease-in;

   }

   .generic-white__button:active {
      background-color: var(--blue-prompt);
      color: var(--default);
   }

   .password-composed-field,
   .email-composed-field,
   .name-composed-field {
      display: flex;
      flex-flow: column wrap;
      gap : 0.45rem;

      & input {
         font-size: 1.3rem;
         flex-grow: 1;
      }

      & q {
         flex-grow : 2;
      }
   }
}

li>.generic-white__button::after,
li>.generic-white__button::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   left: 0;
   top: 63px;
   border-radius: 35px;
   background-color: #34A;
   transform: scaleX(0);
   transform-origin: center;
   transition: transform 0.35s ease-in-out;
}

li>.generic-white__button::before {
   top: 0;
   /* transform-origin: right; */
}

li>.generic-white__button:hover::after,
li>.generic-white__button:hover::before {
   transform: scaleX(0.85);
}

li.thirdparty-option-go>.generic-white__button::after,
li.thirdparty-option-go>.generic-white__button::before {
   background: linear-gradient(to right, #0F9D58, #F4B400, #Db4437);
}

li>.generic-white__button:hover {
   transform: translate(0, -2%);
   transition: transform 0.45s ease-out;
   box-shadow: 3px 3px 4px var(--shadow-black);
}