notification-tool
{
   width: 100%;
   height: 5px;
   display : block;
   position : fixed;
   bottom: 0;
}

p.notification-teller__p
{
   font-size : 1.8rem;
   color : var(--default);
   content: "Texto para forma";
   margin : 12px;
}


div.notification-bar__div#active-notification
{
   top : -108px;
   transition : .5s ease-in-out;
}

div.notification-bar__div#hidden-notification
{
   top : 100%;
   transition : .8s ease-in-out;
}

div.notification-bar__div
{
   width : 34rem;
   height : max-content;
   margin : auto;
   border-radius: 35px;
   background-color: rgb(110, 110, 105);
   position : absolute;
   left : calc( 50% - 17rem);
   top : 100%;
  /*
   transition : top 1s ease-in-out;
   */
   text-align: center;
}

div.notification-bar__div:hover
{
   cursor : default;
}

div.fixed-bottom__div
{
   width  : 100%;
   height : 100%;
   bottom: 0;
   position : relative
}