@media only screen and (340px < width <=550px) and (568px < height <=1000px) {
   :root {
      font-size: 1.4vw;
   }

   html {
      font-size: 2.4vh;
   }

   /** NAV **/

   header.brand-band__header {
      width: 100%;
      height: 10vh;
      margin: auto;
      padding: 0;
      border-bottom: 1px solid rgba(20, 19, 20, 94%);
      background-color: rgba(245, 245, 245, 84%);
      border-radius: 10px 10px 0 0;
   }

   img.brand-logo__img {
      margin: auto;
      width: 67.4rem;
      height: 11.25rem;
   }

   nav.generic-nav-bar__nav#not-home {
      display: none;
   }

   nav.generic-nav-bar__nav {
      display: block;
      height: max-content;
      width: 100%;
      margin: 0;
      padding: 5vh 0 3.45vh 0;
      box-sizing: content-box;
      background-color: var(--default);
      text-align: center;
   }


   nav.generic-nav-bar__nav>button.panel-option__button>a {
      color: var(--deep-blue);
      font-size: 4.3rem;
      font-family: "Poppins Medium";
      text-decoration: none;
   }


   nav.generic-nav-bar__nav>button.panel-option__button {
      display: block;
      position: relative;
      width: 49rem;
      margin: 32px auto 3.3vw 8vw;
      padding: 5px 49.5vw 0 5px;
      color: var(--deep-blue);
      border-bottom: 1px solid rgba(89, 84, 89, 94%);
   }

   nav.generic-nav-bar__nav>button.panel-option__button::after {
      position: absolute;
      top: 22%;
      left: 89%;
      content: "\f061";
      font-family: "BuiltinSymbols";
      font-size: 1.8rem;
   }

   nav.generic-nav-bar__nav>button.generic-blue__button,
   nav.generic-nav-bar__nav>button.language-button {
      display: inline-block;
      margin: 27px 30px;
      font-size: 3.2rem;
   }

   nav.generic-nav-bar__nav>button.language-button {
      height: 14rem;
      width: 11.8rem;
   }


   /* LOGIN SECTION */
   /**********/

   @media only screen and (340px < width <=550px) and (568px < height <=1000px) {

      .sign-options__div {
         width: 100%;
         height: max-content;
      }

      .form-panel-tab {
         margin: auto;
         margin-bottom: 0;
         display: block;
         font-size: 4.3rem;
      }

      .form-panel-title-tab::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 4px;
         left: 0;
         top: 4.56rem;
         background-color: #34AC;
         transform: scaleX(0);
         transform-origin: left;
         transition: transform 0.35s ease-in-out;
      }


      .sign-options__ul {
         width: 100%;
         margin-top: 20px;
         margin-bottom: 22px;
         padding: 0;
         text-align: center;
         user-select: none;
         background-color: unset;
         backdrop-filter: unset;
         box-shadow: none;

         & .two-step-form {
            & .generic-form:nth-child(2) {
               right: -100%;
            }
         }

         & .generic-white__button {
            margin: 9px 0 9px 0;
            width: 53rem;
            font-size: 3.5rem;
         }
      }

      .generic-form {

         font-size: 3.76rem;

         .password-composed-field,
         .email-composed-field,
         .name-composed-field {
            display: flex;
            flex-flow: column wrap;
            gap: 3.75rem;
            font-size: 4.06rem;

            & input {
               flex-grow: 1;
               width: 53rem;
               min-height: 6rem;
               padding: 10px;
               box-sizing: border-box;
            }
         }

         & .generic-white__button {
            margin: 9px 0 9px 0;
            width: 53rem;
            font-size: 3.5rem;
         }

      }

      .call-to-action__section {
         height: max-content;

         & br {
            height: 0.4rem;
            margin: 6.45rem;
         }
      }

      /* section.call-to-action__section>div.sign-forms__div
{
   width: 97%;
   height: 75rem;
   display : flex;
   float   : none;
   border-radius: 55px;
   position: relative;
   overflow: hidden;
   margin: auto;
} */

      button.generic-blue__button {
         padding: 9px 18px;
         width: max-content;
         border: none;
         border-radius: 55px;
         background-color: var(--aqua);
         color: var(--deep-blue);
         font-family: "Poppins Medium";
         font-size: 3.6rem;
         font-weight: 300;
         cursor: pointer;
      }

      q.generic-quote__q {
         quotes: none;
         margin: auto;
         margin-top: 8.5rem;
         margin-bottom: 8.5rem;
         display: block;
         font-size: 4.8rem;
         width: 82.78%;
         max-width: none;
      }


      div.sign-options__div>p.sign-call__p {
         width: calc(100vw - 8vw);
         margin-top: 0.5rem;
         font-size: 4rem;
         text-align: center;
         margin: auto;
      }

      div.form-container__div {
         height: 100%;
         width: 59rem;
         margin: auto;
         position: relative;
         overflow: hidden;
         border-radius: 55px;
         background-color: var(--white);
      }
   }

   /* FIRST IMPRESSION */

   p.home-router__p {
      margin: 20px auto;
      padding: 0 0 0 30px;

      font-size: 5rem;
      text-align: left;
   }

   q.welcome-quote__q {
      font-size: 6.12rem;
      display: none;
   }

   q.brand-quote__q {
      quotes: none;
      width: calc(100vw - 10vw);
      margin: 1rem 0 1.2rem 0;
      max-width: none;
      display: none;
      color: var(--aqua);
      font-size: 4rem;
   }

   aside.home-left__aside>span.globe-decoration__span {
      position: relative;
      top: 0;
      left: 0;
   }

   aside.home-left__aside {
      position: absolute;
      top: 45%;
      left: 7%;
      height: auto;
      max-width: none;
   }


   aside.home-left__aside>img {
      display: none;
   }


   aside.home-right__aside {
      color: var(--default);
      font-family: "Poppins Regular";
      font-size: 2.2rem;
      text-align: left;
      margin: auto;
      padding: 0;
      float: none;
      max-width: none;
   }

   aside.home-right__aside>p {
      max-width: 50rem;
      box-sizing: border-box;
      font-size: 3.4rem;
      margin: auto;
   }

   aside.home-right__aside>p:nth-child(2) {
      margin-top: 29vh;
   }

   article.home__article {
      position: relative;
      height: max-content;
      margin: 1rem 0 9rem 0;
   }

   /** TEAM **/

   h3.generic-blue__h3 {
      font-size: 5rem;
   }

   span.team-member__span>img {
      width: calc(278px / 2);
      height: calc(278px / 2);
      margin: 20px auto;
   }

   ul.member-achievements__ul {
      width: auto;
      height: auto;
   }

   ul.member-achievements__ul>li {
      margin: 3vh auto;
      font-size: 2rem;
   }

   span.team-member__span {
      display: block;
      float: none;
      margin: 22px auto;
   }

   section.team-members__section {
      height: max-content;
   }

   img.team-photo__img {
      width: 56%;
      height: 40%;
      margin: 18px auto;
   }

   /* DASHBOARD */

   h3.title-type__h3 {
      font-size: 3.5rem;
   }

   ul.record-types__ul {
      padding: 0;
   }

   ul.user-files__ul {
      font-size: 4rem;
   }


   ul.record-types__ul>li.record-type__li>button.generic-blue__button {
      width: 22.5rem;
      font-size: 3.5rem;
   }

   video.record-screen__video {
      width: 75%;
   }

   input.file-name__input {
      font-size: 3.5rem;

   }

   .audio-stop__button,
   .audio-record__button,
   .audio-upload__button {
      height: max-content;
   }

   p#clock {
      font-size: 4.35rem;
   }

   div.time-bar__div {
      width: 70vw;
   }

   audio-tool {
      width: 75%;
   }

   video.record-view__video {
      width: 75.2%;
      height: 45.3vh;
      object-fit: contain;
   }

   section.video-review__section>textarea.record-view__textarea {
      font-size: 2.45rem;
   }

   /** DEMO **/

   h2.demo-title__h2 {
      font-size: 4rem;
      display: block;
      margin: auto;
      text-align: center;
   }

   p.premise__p {
      padding: 12px;
      margin: 50px auto;
      width: 78%;
      font-size: 3.6rem;
   }


   form.chatbot-context__form {
      width: 83%;
      padding: 30px 12px;
      height: max-content;
      backdrop-filter: none;
   }

   .chatbot-context__form>input,
   .chatbot-context__form>select {
      margin: 30px auto;
      width: 79%;
      height: 5.75rem;
      font-family: "Poppins Regular";
      font-size: 21.2px;
   }

   .chatbot-context__form>input::placeholder {
      font-size: 18.9px;
   }

   form-audio-tool>div.time-bar__div {
      height: max-content;
      width: 98%;
   }

   audio.audio-output__audio {
      display: block;
      margin: 30px auto;
   }

   form-audio-tool>div.time-bar__div>div.bar-container__div {
      display: block;
      position: static;
      width: 92%;
      height: 48.8rem;
      padding: 13px 0;
   }

   .chatbot-context__form>input[type="checkbox"]::after {
      font-size: 4.5rem;
   }

   form.chatbot-context__form>textarea {
      font-size: 3rem;
      padding: 14px 17px;
   }

   /** ABOUT US **/

   article.about-us__article {
      padding: 2rem 5rem;
   }

   p.paragraph__p {
      font-size: 2.6rem;
   }

   div.combo-container__div {
      flex-direction: column-reverse;
      column-gap: 20px;
      height: max-content;
      margin: 2.3rem auto 1.2rem auto;
   }

   div.combo-container__div:nth-child(3) {
      flex-direction: column;
   }

   article.about-us__article>p {
      font-size: 2.65rem;
      margin: 3rem auto 7rem auto;
   }

   div.combo-container__div>p {
      display: block;
      width: 98%;
      font-size: 2.65rem;
      margin: 3.4rem auto;
   }

   div.combo-container__div>img {
      width: calc(547px / 2);
      height: calc(547px / 2);
      display: block;
      margin: auto;
   }

   div.combo-container__div>p.paragraph__p:last-child {
      text-align: left;
      margin: 4rem auto;
   }

   section.general-tool-container__section {
      border-radius: 30px 30px 35px 35px;
      padding: 1rem 0;
   }

   text-tool {
      padding: 2rem 0;

      & textarea.document-holder__textarea {
         font-size: 4rem;
      }


      & .generic-blue__button {
         bottom: 4svh;
         right: 6vw;
      }
   }
}