
@media (340px < width <= 550px) and (568px < height <= 1000px)
{
   :root
   {
      font-size : 1.4vw;
   }

   html
   {
      font-size : 2.4vh;
   }

   /* LOGIN SECTION */

   form.white-generic__form>input::placeholder,
   div.sign-forms__div>form.sign-account__form>input::placeholder,
   div.form-container__div>form.sign-account__form>input::placeholder
   {
      position: absolute;
      left    : 0;
      top     : .4rem;
      font-size : 3.2rem;
   }

   form.sign-account__form>input
   {
      width : 47rem;
      min-height: 6rem;
      padding: 10px 10px 10px 10px;
      font-size : 3.76rem;
   }

   div.form-container__div>form.sign-account__form
   {
      width : auto;
      height : auto;
      min-height : auto;
      padding: 12rem 12px 3rem 12px;
   }

   div.form-container__div>form.sign-account__form:nth-child(1)
   {
      top  : 6px;
      left : 13px;
   }

   div.form-container__div>form.sign-account__form:nth-child(2)
   {
      top  : 100%;
      left : 13px;
   }

   div.form-container__div>form.sign-account__form#unselected-form:nth-child(1)
   {
      top : -100%;
      transition : 3s;
   }

   div.form-container__div>form.sign-account__form#selected-form:nth-child(1)
   {
      top : 6px;
      transition : 3s;
   }


   div.form-container__div>form.sign-account__form#unselected-form:nth-child(2)
   {
      top  : 100%;
      transition : 2.5s;
   }

   div.form-container__div>form.sign-account__form#selected-form:nth-child(2)
   {
      top  : 6px;
      transition : 3.6s;
   }

   form.sign-account__form>a:nth-child(3)
   {
      margin: 33px 0px;
      font-size: 3.45rem;
   }

   section.call-to-action__section>div.sign-forms__div
   {
      width: 97%;
      height: 75rem;
      display : flex;
      float   : none;
      border-radius: 55px;
      position: relative;
      overflow: hidden;
      margin: auto;
   }

   button.generic-blue__button
   {
       padding: 9px 18px;
       width: max-content;
       border: none;
       border-radius: 55px;
       background-color: var(--aqua);
       color: var(--deep-blue);
       font-family: "Poppins-Medium";
       font-size: 3.6rem;
       font-weight: 300;
       cursor: pointer;
   }

   q.generic-quote__q
   {
       quotes: none;
       margin: auto;
       margin-top: 4.5rem;
       margin-bottom: 4.5rem;
       /* max-width: 35.4rem; */
       display: block;
       color: var(--aqua);
       text-align: center;
       font-family: "Poppins-Bold";
       font-size: 4.8rem;
       width: 82%;
   }

   div.sign-options__div>p
   {
       margin: auto;
       margin-bottom: 0;
       display: block;
       font-size: 4.3rem;
   }

   ul.sign-options__ul
   {
       margin: auto;
       margin-top: 20px;
       margin-bottom: 22px;
       padding: 0;
       text-align: center;
       user-select: none;
    }

    li.sign-option__li>button.generic-white__button
    {
       margin: 9px 0 9px 0;
       width: 50rem;
       font-size: 3.5rem;
       cursor: pointer;
    }

    div.sign-options__div>p.sign-call__p
    {
       width : calc(100vw - 8vw);
       margin-top: 0.5rem;
       font-size: 4rem;
       text-align: center;
       margin: auto;
    }

    div.form-container__div
    {
       height: 100%;
       width: 59rem;
       margin: auto;
       position: relative;
       overflow: hidden;
       border-radius: 55px;
       background-color: var(--white);
    }

    section.call-to-action__section>div.sign-options__div
    {
       width: 100%;
       height: max-content;
       display: inline-flex;
       /* float: left; */
       align-items: center;
       /* flex-direction: column; */
       justify-content: center;
       flex-flow: column wrap;
       margin: auto;
       margin-bottom: 52px;
       margin-top: 35px;
    }

    /**********/

    /* FIRST IMPRESSION */


    q.welcome-quote__q
    {
       font-size : 6.12rem;
    }

    q.brand-quote__q
    {
      quotes : none;
      width: calc(100vw - 10vw);
      margin : 1rem 0 1.2rem 0;
      max-width : none;
      display : inline-block;
      color     : var(--aqua);
      font-size : 4rem;
    }

    img.brand-logo__img
    {
      margin : 4vh auto;
      width: 67.4rem;
      height: 11.25rem;
    }

     aside.home-left__aside
     {
        display: none;
     }

     aside.home-right__aside
     {
       color: var(--default);
       font-family: "Poppins-Regular";
       font-size: 2.2rem;
       text-align: left;
       margin: auto;
       padding: 0;

       float: none;
       max-width:none;

     }



     aside.home-right__aside>p
     {
        max-width  : 50rem;
        box-sizing : border-box;
        font-size  : 3.4rem;
        margin     : auto;
     }

    header.brand-band__header
    {
       height: 86vh;
       margin: auto;
    }
}
