@import url("library.css");

h3.generic-blue__h3
{
   color : var(--aqua);
   margin : auto;
   text-align : center;
   font-size : 3.25rem;
   font-family: "Poppins-Bold";
}

span.team-member__span>img
{
   width:278px;
   height:278px;
   object-fit: cover;
   display: block;
   margin : auto;
}

p.member-name__p,
p.member-role__p
{
   margin : auto;
   text-align : center;
   font-size : 2rem;
}

ul.member-achievements__ul>li
{
   margin : 25px auto;
   text-align : center;
   font-size : 1.28rem;
}

ul.member-achievements__ul
{
   text-align : left;
   height : 220px;
   width : 445px;
   margin : 35px auto;
}

span.team-member__span
{
   float : left;
   margin : 5vh 5vw;
   width : 38%;
   height : max-content;
   padding : 0 0 0 0;
}

section.team-members__section
{
   margin : auto;
   height : 780px;
}

img.team-photo__img
{
   margin: 75px auto;
   width : 45%;
   height : 32%;
   object-fit: cover;
   display: block;
   border-radius: 12px;
}

p.main-history__p
{
   padding : 35px 25px;
   margin : 30px auto;
   width : 67%;


   justify-content: center;
   text-align: justify;
   font-size : 2.15rem;
   border-radius : 35px;
   background-color: rgba(235, 235, 235, 12%);
}
