video-record
{
   text-align : center;
   margin-top : 2.1rem;
}

video.record-screen__video
{
   margin : 45px auto;
   width  : 640px;
   height : 480px;
   background-color : #555;
   display:block;
   border-radius : 35px;
}

div.video-container__div
{
   margin:auto;
   width : 94%;
   height : max-content;
   border-radius : 35px;
}

div.video-record-actions__div
{
   margin : auto;
   margin-top : 2rem;
   user-select : none;
   font-family: "Poppins-Regular";
   text-align : center;
}

h3.title-type__h3
{
   margin : auto;
   text-align: center;
}

ul.record-types__ul>li.record-type__li
{
   display: inline;
}

input.file-name__input
{
   width: 84%;
   height: 2.8rem;
   margin: 20px auto 35px auto;
   padding: 15px 15px 15px 35px;
   border-color: transparent;
   display: block;
   border-bottom: solid var(--aqua);
   border-radius: 0 0 45px 45px;
   background-color: transparent;
   font-weight: 100;
   font-family: "Poppins-Medium";
   font-size: 2.5rem;
}

input.file-name__input:focus
{
   outline : none;
}

section.general-tool-container__section
{
   width: 95%;
   height: max-content;
   margin: auto;
   border-radius: 70px 70px 35px 35px;
   background-color: #aAA;
   padding: 30px 0 0 0;
}

ul.user-files__ul
{
   width: 96%;
   padding : 0;
   margin : 45px auto;
   font-size : 3rem;
}

ul.user-files__ul>file-element>li.file-metaphor__li
{

   width:100%;
   border-bottom: 0.2rem solid #BBB;
   display: flex;
   align-items: center ;
   justify-content: flex-end;
}

ul.user-files__ul>file-element
{
   margin: 20px auto;
   display : flex;
}

ul.user-files__ul>file-element>li>a.file-name__a
{
   flex:2 1 0%;
   overflow:hidden;
   cursor : pointer;
}


ul.user-files__ul>file-element>li>i.symbol
{
   flex:1 1 0%;
}

ul.user-files__ul>file-element>li>button.file-delete__button
{
   font-size: 6rem;
   background-color: transparent;
   border:none;
   border-radius: 35px;
   padding : 2px 9px;
   text-align: center;
}

ul.user-files__ul>file-element>li>button.file-delete__button:hover
{
   background-color: rgba(194, 194, 194, 10%);
}

p#teller__p
{
   font-size: 2.1rem;
   text-align: center;
   height    : 5rem;
}

p#clock
{
   margin : 10px auto;
   font-size: 3rem;
   text-align: center;
}


/** AUDIO TOOL **/

audio-tool
{
   display : block;
   margin : auto;
   height : max-content;
   overflow : hidden;
   text-align: center;
   position : relative;
}

audio-tool>button
{
   width : 4.45rem;
   font-size : 2.3rem;
   height : 3.37rem;
   padding : 12px 8px;

   border-radius : 50%;
   border: none;
   text-align: center;
}

audio-tool>button>i.symbol
{
   cursor : pointer;
}

button.generic-blue__button>i.symbol,
audio-tool>button:disabled>i.symbol
{
   cursor : default;
}

button.generic-blue__button:disabled,
audio-tool>button:disabled
{
   opacity : 0.3;
}


button.generic-blue__button:disabled:hover,
audio-tool>button:disabled:hover
{
   cursor : default;
   background : var(--aqua);
   color : var(--deep-blue);
}

div.bar-container__div
{
   border-radius : 75px;
   background-color : var(--grey);
   position : absolute;
   left : 0;
   top : 101%;
}

div.time-bar__div>div.bar-container__div#unfulfilled
{
   top : -100%;
   transition : 2s;
}

div.time-bar__div>div.bar-container__div#fulfilled
{
   top : 0%;
   transition : 1.5s;
}

div.bar-container__div>audio.audio-output__audio
{
   font-size : 1.45rem;
   color : var(--default);
}

div.time-bar__div
{
   margin : auto;
   width : 300px;
   height : 12rem;
   position : relative;
   overflow : hidden;
}

/* TEXT */

text-tool
{
   display : block;
   margin : auto;
   height : max-content;
   padding : 0 0 70px 0;
}

textarea.document-holder__textarea
{
   display : block;
   margin : auto;
   resize: none;

   width : 78%;
   height : 70vh;

   padding : 30px 35px;

   color : var(--default);
   background-color : rgb(200,200,200);

   font-family: "Poppins-Medium";
   font-size  : 1.78rem;
   border-radius : 25px;
}

textarea.document-holder__textarea:focus
{
   outline : none;
}
