<!DOCTYPE html> 
<html> 
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">

   <title>Chatbot</title>

   <link rel="ico" type="image/x-icon" href="../static/favicon.ico">

   <link rel="stylesheet" href="../css/fonts.css">
   <link rel="stylesheet" href="../css/home.css">
   <link rel="stylesheet" href="../css/team.css">
   <link rel="stylesheet" href="../css/forms.css">
   <link rel="stylesheet" href="../css/footer.css">
   <link rel="stylesheet" href="../css/homeInformation.css">
   <link rel="stylesheet" href="../css/responsiveMeasures.css">

</head>
<body> 
   <nav class="generic-nav-bar__nav" id="not-home">
      <button class="panel-option__button"><a href="aboutus.html">NOSOTROS</a></button>
      <button class="panel-option__button"><a href="team.html">EQUIPO</a></button>
      <button class="panel-option__button"><a href="pricing.html">PLANES</a></button>
      <button class="panel-option__button"><a href="demo.html">DEMO</a></button>
      <button class="panel-option__button"><a href="contact.html">CONTACTO</a></button>
      <button type="button" class="panel-option__button generic-blue__button">INICIA SESIÓN</button>
   </nav>
   <main>
      <form id="document-submitter" enctype="multipart/form-data"> 
         <input type="file" name="document"> 
         <input type="submit" value="Submit"> 
      </form> 
      <form id="chat-submitter" enctype="multipart/form-data"> 
         <input type="text" name="message"> 
         <input class="chat-buttton-sender__input" type="submit" value="Emoji of plain"> 
      </form> 
   </main>
</body> 
<script>
   let url = "https://realitylife2023.github.io/#slider-show";

   let signButton = document.getElementsByClassName("generic-blue__button")[0];

   signButton.onclick = ( event ) =>
   {
      event.preventDefault();

      window.location.replace(url);
   };
</script>
<script type="module" name="test">
   import * as rag from "../src/chatbot.js";

   function TRank( expected )
   {
      let pilots = [34, 9, 3, 4, 5, 6, 10, 23];

      console.log(`pilots : ${pilots}`);

      let pointers = rag.dynamicRank( pilots );

      let guns = pointers.map( value => value = pilots[value] );

      console.log(`top guns : ${guns}`);

      let areEqual = true;

      for(let i = 0; i < guns.length; i++)
      {
         if( guns[i] !== expected[i] )
         {
            areEqual = false;
            break;
         }
      }

      return areEqual;
   }

   function TEuclideanNorm()
   {
      const vector = [ 2, 7 , 3, -3, 9];

      let magnitude = rag.euclideanNorm( vector );

      console.log(magnitude);

      return magnitude;
   }


   function TCosineSimilarity()
   {
      const x = [ 5, 23, 2, 5, 9 ], y = [ 3, 21, 2, 5, 14 ];

      const similarity = rag.cosineSimilarity( x, y, x.length );

      console.log( similarity );

      return similarity;
   }

   function tryBreak()
   {
      console.log("Starting test session!!");

      console.assert( TRank([34,23]) , "Test 1: failure");
      //console.assert( TEuclideanNorm() > 12, "Test 2: failure");
      //console.assert( TCosineSimilarity() < 0.99, "Test 3: failure");
   }

   tryBreak();

</script> 
</html> 
