<!DOCTYPE html> 
<html lang="es"> 
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">

   <title>Chatbot</title>

   <link rel="ico" type="image/x-icon" href="../static/favicon.ico">

   <link rel="stylesheet" href="../css/chatbot.css">
   <link rel="stylesheet" href="../css/responsiveMeasures.css">

</head>
<body> 
   <nav class="generic-nav-bar__nav" id="not-home">
      <button class="panel-option__button"><a href="aboutus.html">NOSOTROS</a></button>
      <button class="panel-option__button"><a href="team.html">EQUIPO</a></button>
      <button class="panel-option__button"><a href="demo.html">DEMO</a></button>
      <button class="panel-option__button"><a href="contact.html">CONTACTO</a></button>
      <button type="button" class="panel-option__button generic-blue__button">INICIA SESIÓN</button>
   </nav>
   <main class="information__main">
      <p class="home-router__p"><a href="../index.html">HOME</a> > DEMO</p>
      <div class="chat-body__div">
         <article class="chat-configuration__article" status="hidden">
            <form id="document-submitter" enctype="multipart/form-data"> 
               <input type="file" name="document"> 
            </form> 
         </article>
         <div class="chat-bubble-jar__div">
            <p class="chat-bubble__p" type="sender">Have you ever been in the Chicamocha park?</p>
            <p class="chat-bubble__p" type="receiver">Can you stop texting me?</p>
            <p class="chat-bubble__p" type="sender">Have you ever been in the Chicamocha park?</p>
            <p class="chat-bubble__p" type="receiver">Can you stop texting me?</p>
         </div>
         <form id="chat-submitter">
            <input type="text" name="message"> 
            <input class="chat-buttton-sender__input" type="submit" value="E"> 
         </form> 
      </div>
   </main>
</body> 
<script>
   let url = "https://realitylife2023.github.io/#slider-show";

   let signButton = document.getElementsByClassName("generic-blue__button")[0];

   signButton.onclick = ( event ) =>
   {
      event.preventDefault();

      window.location.replace(url);
   };
</script>
<script type="module" name="test">
   import * as rag from "../src/chatbot.js";

   function TRank( expected )
   {
      let pilots = [34, 9, 3, 4, 5, 6, 10, 23];

      console.log(`pilots : ${pilots}`);

      let pointers = rag.dynamicRank( pilots );

      let guns = pointers.map( value => value = pilots[value] );

      console.log(`top guns : ${guns}`);

      let areEqual = true;

      for(let i = 0; i < guns.length; i++)
      {
         if( guns[i] !== expected[i] )
         {
            areEqual = false;
            break;
         }
      }

      return areEqual;
   }

   function TEuclideanNorm()
   {
      const vector = [ 2, 7 , 3, -3, 9];

      let magnitude = rag.euclideanNorm( vector );

      console.log( magnitude );

      return magnitude;
   }

   function TCosineSimilarity()
   {
      const x = [ 5, 23, 2, 5, 9 ], y = [ 3, 21, 2, 5, 14 ];

      const similarity = rag.cosineSimilarity( x, y, x.length );

      console.log( similarity );

      return similarity;
   }

   function InsertFakePages()
   {
      let keys = [];
      for(let i = 0; i < 8; i++)
      {
         let key = `p.${i}`;
         keys.push(key);
      }

      localStorage.setItem('pages', keys);

      return rag.retrievePages();
   }

   function tryBreak()
   {
      console.log("Starting test session!!");

      console.assert( TRank([34,23]) , "Test 1: failure");
      console.assert( TEuclideanNorm() > 12, "Test 2: failure");
      console.assert( TCosineSimilarity() < 0.99, "Test 3: failure");
      console.assert( InsertFakePages().length === 8, "Test 4: failure");
      console.log("Passing through!");
   }


   tryBreak();

</script> 
</html> 
