<!DOCTYPE html> 
<html lang="es"> 
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">

   <title>Chatbot</title>

   <link rel="ico" type="image/x-icon" href="../static/favicon.ico">

   <link rel="stylesheet" href="../css/chatbot.css">
   <link rel="stylesheet" href="../css/responsiveMeasures.css">

</head>
<body> 
   <nav class="generic-nav-bar__nav" id="not-home">
      <button class="panel-option__button"><a href="aboutus.html">NOSOTROS</a></button>
      <button class="panel-option__button"><a href="team.html">EQUIPO</a></button>
      <button class="panel-option__button"><a href="demo.html">DEMO</a></button>
      <button class="panel-option__button"><a href="contact.html">CONTACTO</a></button>
      <button type="button" class="panel-option__button generic-blue__button">INICIA SESIÓN</button>
   </nav>
   <main class="information__main">
      <p class="home-router__p"><a href="../index.html">HOME</a> > DEMO</p>
      <div class="chat-top__div">
         <h3 class="chat-title__h3">CHATBOT</h3>
         <button class="home-router__button"><i class="symbol home"></i></button>
         <button class="document-panel__button"><i class="symbol paperclip"></i></button>
      </div>
      <div class="chat-body__div">
         <div class="chat-bubble-jar__div">
            <p class="user-guide__p"></p>
         </div>
         <form id="chat-submitter">
            <input type="text" name="message" placeholder="Escribe tu pregunta...">
            <input class="chat-buttton-sender__input" type="submit" value="S">
         </form> 
      </div>
      <article class="chat-configuration__article" status="hidden">
         <form id="document-submitter" enctype="multipart/form-data"> 
            <input type="file" name="document" accept=".pdf,application/pdf">
            <input type="submit" value="Send">
         </form> 
      </article>
   </main>
   <script async type="module" src="../src/chatbot.js"></script>
</body> 
</html> 
