<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="../css/home.css">
   <link rel="stylesheet" href="../css/forms.css">
   <link rel="stylesheet" href="../css/footer.css">
   <link rel="stylesheet" href="../css/homeInformation.css">
   <link rel="stylesheet" href="../css/aboutUs.css">

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">

   <title>Reality Life</title>
</head>
<body>
   <nav class="generic-nav-bar__nav">
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/aboutus.html">NOSOTROS</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/team.html">EQUIPO</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/pricing.html">PLANES</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/demo.html">DEMO</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/contact.html">CONTACTO</a></button>
      <button type="button" href="#slider-show" class="panel-option__button generic-blue__button">INICIA SESIÓN</button>
      <button class="panel-option__button language-button"><img src="../static/language-icon.png" alt="Select language">Español</button>
   </nav>
   <main class="information__main">
      <p id="router"><a href="https://realitylife2023.github.io">HOME</a> > DEMO</p>
      <h2>¡Nuesta prueba DEMO está aquí!</h2>
      <p class="premise__p">¿Estás listo para comenzar a preservar tu legado? Prueba nuestra Demo versión 1.0.1. Nuestro asistente de IA clonará tu voz para replicarla en tus archivos futuros. Mira este video y descubre el poder de la IA en Reality LIFE</p>
      <form method="POST" class="chatbot-context__form">
         <input type="button" name="male" placeholder="Hombre">
         <input type="button" name="female" placeholder="Mujer">
         <input type="email" name="email" placeholder="Tú email">
         <input type="datetime" name="nation" placeholder="Tú nación">
         <button type="submit" class="generic-blue__button">CLONAR</button>
      </form>
      <section class="faq__section">
         <p class="question__p">¿Existen riesgos potenciales al confiar en Reality Life para el almacenamiento de memoria personal?</p>
         <p class="question__p">¿Cuál es el impacto psicológico para los familiares al utilizar Reality Life para hablar con sus seres queridos que ya no están aquí?</p>
         <p class="question__p">¿Cuál es la importancia de la transparencia y la propiedad de los datos a la hora de confiar en las empresas para preservar nuestros recuerdos a través de la tecnología?</p>
         <p class="question__p">¿Cómo se puede utilizar la tecnología blockchain para garantizar la integridad y autenticidad de los recuerdos almacenados?</p>
      </section>
   </main>
   <script>
      let url = "https://realitylife2023.github.io/#slider-show";

      let signButton = document.getElementsByClassName("generic-blue__button")[0];

      signButton.onclick = ( event ) =>
      {
         event.preventDefault();

         window.location.replace(url);
      };
   </script>
   <footer class="generic-footer__footer">
      <img src="" alt="" class="mini-logo__img">
      <q class="brand-quote__q mini-quote">Keep your memories and knowledge always alive</q>
      <a href="" class="terms-link__a"></a>
      <a href="" class="privacy-link__a"></a>
      <a href="" class="cookies-link__a"></a>
      <p class="copyright__p">Copyright Realtiy Near</p>
   </footer>
</body>
</html>
