
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/home.css">
   <link rel="stylesheet" href="css/forms.css">
   <link rel="stylesheet" href="css/footer.css">
   <link rel="stylesheet" href="css/videoRecord.css">
   <link rel="stylesheet" href="css/homeInformation.css">
   <link rel="stylesheet" href="css/aboutUs.css">

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">

   <title>Reality Life</title>
</head>
<body>
   <!--<header class="brand-band__header">
      <q class="welcome-quote__q">Bienvenido a</q>
      <img class="brand-logo__img" src="../static/logo.png" alt="Reality Life logo">
      <q class="brand-quote__q">Mantén tus <b>recuerdos</b>, tus <b>conocimientos</b> y tu <b>legado siempre vivos</b>.</q>
   </header>-->
   <nav class="generic-nav-bar__nav">
      <button class="panel-option__button">NOSOTROS</button>
      <button class="panel-option__button">EQUIPO</button>
      <button class="panel-option__button">PLANES</button>
      <button class="panel-option__button">DEMO</button>
      <button class="panel-option__button">CONTACTO</button>
      <button type="button" href="#slider-show" class="panel-option__button generic-blue__button">INICIA SESIÓN</button>
      <button class="panel-option__button language-button"><img src="../static/language-icon.png" alt="Select language">Español</button>
   </nav>
   <main class="information__main">
      <p id="router"> HOME > NOSOTROS</p>
      <article class="about-us__article">
         <p class="paragraph__p">Reality LIFE es una multiplataforma diseñada para mantener vivos tus recuerdos, conocimientos y legado. Enfrentamos la inevitabilidad de la muerte y las enfermedades mentales como el alzheimer y la demencia con una solución que asegura que nunca dejes de ser un apoyo para tus seres queridos. Con Reality LIFE, tus experiencias y sabiduría perduran y continúan guiando a tus familiares y amigos, ofreciendo una conexión eterna e inquebrantable.</p>
         <div class="combo-container__div">
            <p class="paragraph__p">Nuestro objetivo es transformar la manera en que te relacionas con tus seres queridos, incluso después de haber partido. En Reality LIFE, preservamos tus recuerdos más valiosos, anécdotas y conocimientos, y los convertimos en un avatar digital interactivo. Permitimos que tus familiares y amigos interactúen contigo de una manera inmersiva y gamificada, asegurando que tus datos sean protegidos y permanezcan inalterados a través de la tecnología Blockchain.</p>
            <img class="paragraph-image__img" src="../static/white-pane.png">
         </div>
         <div class="combo-container__div">
            <img class="paragraph-image__img" src="../static/white-pane.png">
            <p class="paragraph__p">Utilizamos Inteligencia Artificial para capturar y replicar tu personalidad, tus respuestas y tu estilo único de comunicación. Garantizamos la seguridad y autenticidad de tus recuerdos y datos personales, asegurando que solo aquellos que tú elijas tengan acceso. Ofrecemos experiencias de interacción a través de realidad virtual y aumentada, permitiendo que tus seres queridos sientan tu presencia de una manera conmovedora y real.</p>
         </div>
         <p class="paragraph__p">En Reality LIFE, no solo almacenamos datos, sino que preservamos tu legado emocional e intelectual. Imagina un futuro donde tus hijos, nietos y generaciones venideras puedan conversar contigo, aprender de tus experiencias y sentir tu apoyo constante. Nuestra plataforma no solo honra tu vida, sino que también la celebra, brindando consuelo y compañía a tus seres queridos.</p>
         <p class="paragraph__p">No dejes que el tiempo borre tu impacto en la vida de quienes amas. Con Reality LIFE, tu esencia permanecerá viva y activa, proporcionando un apoyo continuo y valioso. Convierte tus recuerdos en un legado eterno y asegúrate de que tu voz nunca se apague. Reality LIFE: Tu Vida, Tu Legado, Siempre Vivo.</p>
         <button class="call-to-action__button generic-blue__button">COMIENZA AHORA</button>
      </article>
   </main>
   <footer class="generic-footer__footer">
      <img src="" alt="" class="mini-logo__img">
      <q class="brand-quote__q mini-quote">Keep your memories and knowledge always alive</q>
      <a href="" class="terms-link__a"></a>
      <a href="" class="privacy-link__a"></a>
      <a href="" class="cookies-link__a"></a>
      <p class="copyright__p">Copyright Realtiy Near</p>
   </footer>
</body>
</html>
