
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="../css/fonts.css">
   <link rel="stylesheet" href="../css/home.css">
   <link rel="stylesheet" href="../css/team.css">
   <link rel="stylesheet" href="../css/forms.css">
   <link rel="stylesheet" href="../css/footer.css">
   <link rel="stylesheet" href="../css/homeInformation.css">
   <link rel="stylesheet" href="../css/aboutUs.css">
   <link rel="stylesheet" href="../css/responsiveMeasures.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">

   <title>Reality Life</title>
</head>
<body>
   <nav class="generic-nav-bar__nav" id="not-home">
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/aboutus.html">NOSOTROS</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/team.html">EQUIPO</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/pricing.html">PLANES</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/demo.html">DEMO</a></button>
      <button class="panel-option__button"><a href="https://realitylife2023.github.io/views/contact.html">CONTACTO</a></button>
      <button type="button" href="#slider-show" class="panel-option__button generic-blue__button">INICIA SESIÓN</button>
      <button class="panel-option__button language-button"><img src="../static/language-icon.png" alt="Select language">Español</button>
   </nav>

   <main class="information__main">
      <p class="home-router__p"><a href="https://realitylife2023.github.io">HOME</a> > EQUIPO</p>
      <h3 class="generic-blue__h3">Equipo</h3>
      <span class="team-member__span">
         <img src="../assets/img/team/JavierB.png" alt="">
         <p class="member-name__p">Javier Bambarén D.</p>
         <p class="member-role__p">CEO & Co-Founder</p>
         <ul class="generic-white__ul member-achievements__ul">
            <li>Director Digital y Desarrollador Full Stack del MIT</li>
            <li>Emprendedor con +20 años de experiencia en negocios de entretenimiento y tecnología.</li>
            <li>Stanford AI, Asociación de laboratorios de investigación Web3: Jugde & Mentor.</li>
         </ul>
      </span>
      <span class="team-member__span">
         <img src="../assets/img/team/MiguelRR.png" alt="">
         <p class="member-name__p">Miguel Andrés Rendón R.</p>
         <p class="member-role__p">CTO & Co-Founder</p>
         <ul class="generic-white__ul member-achievements__ul">
            <li>Científico informático de University of London</li>
            <li>Desarrollador Fullstack especializado en startups con +5 años de experiencia</li>
            <li>Liderazgo en en equipos de desarrollo</li>
         </ul>
      </span>
      <img src="../assets/img/team/team.jpeg" alt="" class="team-photo__img">
      <p class="main-history__p">Javier conoció a Miguel cuando lo contrató como desarrollador en un startup de la creación y desarrollo del metaverso Reality Near. Estuvieron trabajando juntos por año y medio.<br>
<br>
Javier reconoció las habilidades de Miguel y la pasión que tiene por aprender cosas nuevas y comerse el mundo, y viceversa. En el tiempo que estuvieron trabajando juntos se dieron cuenta de que sus habilidades eran complementarias y su tiempo de prueba fue exitoso.<br>
<br>
Si bien Javier es desarrollador, necesitaba un socio que fuese CTO, y por eso decidió proponérselo a Miguel. Conversaron y llegaron a un acuerdo tras compartir y coincidir en bastantes ideas.<br>

<br>Reality Life nace después de una historia real. Javier recuerda con mucho amor a su abuela, quien le preparaba unos postres increíbles desde que era pequeños. A su abuela le diagnosticaron alzheimer cuando él era muy chico y vivía con el miedo de que esta no lo reconociera al pasar del tiempo. Es cuando Javier tiene hijos que se da cuenta de la importancia de preservar nuestro legado, nuestra personalidad y comportamiento, y que sea compartido con nuestras generaciones futuras, para que siempre reciban nuestros consejos y compañía cuando más lo necesitan.</p>
   </main>
   <script>
      let url = "https://realitylife2023.github.io/#slider-show";

      let signButton = document.getElementsByClassName("generic-blue__button")[0];

      signButton.onclick = ( event ) =>
      {
         event.preventDefault();

         window.location.replace(url);
      };
   </script>
</body>
</html>
